* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: black;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

a {
    all:unset;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}


.inner  {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container .head-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.head-container .head-brand a:hover {
    color: #2186c4;
    cursor: pointer;
}

.head-container .head-blog {
    font-weight: bold;
    font-size: 1.2rem;
}

.head-container .head-blog a:hover {
    color: #2186c4;
    cursor: pointer;
}

section {
    width: 100%;
    background-color: white;
    position: relative;
}

.main {
    height: 360px;
    background-image: url("../img/main.jpg");
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    z-index: 1;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: rgb(27, 27, 64);
    opacity: 0.6;
    z-index: 2;
    margin-top:60px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 0.8rem;
}

.title-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.message{
    font-size: 1.4rem;
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 2rem;
}

.skill-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skill {
    width: 20%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 9px;
    padding: 1rem 1rem;
    margin: 1rem;
    box-shadow: 10px 10px 10px -6px gray;
}

.skill-icon {
    font-size: 2.5rem;
    margin: 0 10px;
}
.skill-title {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.skill-name {
    font-weight: bold;
    color: black;
    margin-bottom: 0.2rem;
}

.skill-usage {
    font-size: 0.9rem;
    color: gray;

}

.swimming-style {
    color: black;

}

.plane-style {
    color:black;
}

.card-style {
    color: black;
}

.shop-style {
    color: black;
}

.roadmap-container {
    width: 100%;
    margin-top: 2rem;
}

.roadmap-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.roadmap-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

.arrow-container { 
    display: flex;
}

.slide-prev {
    font-size: 2em;
    cursor: pointer;
    color: rgb(47, 48, 89);
    margin: 0;
  }
  
  .slide-next {
    font-size: 2em;
    cursor: pointer;
    color: #cfd8dc;
    margin: 0;
  }

  .class-list {
    display: flex;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    overflow: hidden;
  }

  .class-card {
    width: 240px;
    box-shadow: 10px 10px 10px -6px gray;
    border-radius: 8px;
    margin: 0 10px;
  }

  .image{
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    height: 150px;
  }

  .class-container {
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
  }
   
  .class-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .class-type{
    font-size: 0.9rem;
    color: gray;
  }

  .class-format{
    font-size: 0.9rem;
    color: white;
    background-color: blue;
    padding: 0.2rem;
  }

  .class-desc {
    width: 100%;
    margin-top: 1rem;
  }

  .class-title {
    font-weight: bold;
    color: rgb(57, 38, 11);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.2rem;
  }

  .class-detail {
    font-size: 0.9rem;
    color: rgb(35, 33, 33);
  }
@media only screen and (min-width:1200px) {
    .inner {
        max-width: 1200px;
    }
}

@media only screen and (max-width:980px) {
    .skill-container {
        display: none;
    }
}